# Databases

![Data Science Workflow](img/ds-workflow.png)

## Acquire Data
### Common Data Sources
- The Internet - Web Scraping
- **Databases**
- CSV
- Excel
- Parquet

### Database
- **Relational databases** models data in rows and columns in a series of tables.
- Like a collection of **DataFrames/Excel sheets**.
- **SQL** (often pronounced *sequel*): Structured Query Language
- Non-relational databases [NoSQL](https://en.wikipedia.org/wiki/NoSQL)

### SQLite database
- [SQLite database](https://www.sqlite.org/index.html) software library that provides a relational database management system
- Lightweight to setup, administrate, and requires low resources.

### Dataset (in a SQLite database)
- Dallas Police Officer-Involved Shootings
- Has three tables: **incidents, officers, subjects**

#### Other SQLite datasets
- [SQLite Data Starter Packs](http://2016.padjo.org/tutorials/sqlite-data-starterpacks/)
- [Iris Species (Kaggle)](https://www.kaggle.com/uciml/iris)
- [European Soccer Database (Kaggle)](https://www.kaggle.com/hugomathien/soccer)

### Database connector
- The [sqlite3](https://docs.python.org/3/library/sqlite3.html) is an interface for SQLite databases.
- No installation needed.

#### Other database connectors for Python
* [MySQL Connector](https://dev.mysql.com/doc/connector-python/en/) for MySQL
* [Psycopg](http://initd.org/psycopg/docs/install.html) for PostgreSQL
* [pymssql](http://pymssql.org/en/stable/) for Microsoft MS SQL

To import and connect to a SQLite database.
```Python
import sqlite3
conn = sqlite3.connect('files/dallas-ois.sqlite')
```

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sq

In [2]:
conn=sq.connect('files/dallas-ois.sqlite')

The interface to the datases is through the `cursor`.

```Python
cursor = conn.cursor()
```

The `execute` method allows to run `SQL` queries on our database.

To get a list of all the tables the following query can be applied.

```SQL
SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
```

The result is fetched with the `fetchall()` method.

To get a description of a table (SQLite specific)

```SQL
PRAGMA table_info(officers)
```

### SQL syntax
Get all data from table
```SQL
SELECT * FROM table_name
```

Limit the response
```SQL
SELECT * FROM table_name LIMIT 100
```

Filter data
```SQL
SELECT * FROM table_name WHERE column_name > 1
```

### Import data into DataFrame
Example of how to read data into a DataFrame from a SQL statement
```Python
import pandas as pd

officers = pd.read_sql('SELECT * FROM officers', conn)
```

In [3]:
officer=pd.read_sql('SELECT * FROM OFFICERS',conn)

In [4]:
officer.head()

  case_number race gender  last_name first_name         full_name
0      44523A    L      M     Patino    Michael   Patino, Michael
1      44523A    W      M  Fillingim      Brian  Fillingim, Brian
2     121982X    L      M    Padilla    Gilbert  Padilla, Gilbert
3     605484T    W      M     Poston      Jerry     Poston, Jerry
4     384832T    B      M      Mondy    Michael    Mondy, Michael

In [8]:
incident=pd.read_sql('SELECT * FROM INCIDENTS',conn)

In [9]:
incident.head()

,case_number,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,attorney_general_forms_url,summary_url,summary_text,latitude,longitude
0,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN
1,121982X,2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, May 3, 2010, at approximately 8:06 ...",NaN,NaN
2,605484T,2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Sunday, August 12, 2007, at approximately 2...",NaN,NaN
3,384832T,2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, May 26, 2007, at approximately 1:...",NaN,NaN
4,244659R,2006-04-03,6512 South Loop 12,Injured,Hands,"Watkins, Caleb B/M",1,"Armstrong, Michael W/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, April 3, 2006, at approximately 11:...",NaN,NaN

### SQL join syntax
`(INNER) JOIN`: returns records that have matching values in both tables
```SQL
SELECT * FROM table_1 JOIN table_2 ON table_1.column_name_1=table_2.column_name_2
```

`LEFT JOIN`: returns all records from the left table, and the matched records from the right table
```SQL
SELECT * FROM table_1 LEFT JOIN table_2 ON table_1.column_name_1=table_2.column_name_2
```

In [15]:
merg=pd.read_sql("SELECT * FROM 'INCIDENTS' JOIN 'OFFICERS' ON INCIDENTS.case_number=OFFICERS.case_number",conn)

In [16]:
merg.set_index('case_number',inplace=True)

In [17]:
merg.head()

,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,attorney_general_forms_url,summary_url,summary_text,latitude,longitude,race,gender,last_name,first_name,full_name
case_number,,,,,,,,,,,,,,,,,,,
"(44523A, 44523A)",2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,L,M,Patino,Michael,"Patino, Michael"
"(44523A, 44523A)",2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,W,M,Fillingim,Brian,"Fillingim, Brian"
"(121982X, 121982X)",2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, May 3, 2010, at approximately 8:06 ...",NaN,NaN,L,M,Padilla,Gilbert,"Padilla, Gilbert"
"(605484T, 605484T)",2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Sunday, August 12, 2007, at approximately 2...",NaN,NaN,W,M,Poston,Jerry,"Poston, Jerry"
"(384832T, 384832T)",2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, May 26, 2007, at approximately 1:...",NaN,NaN,B,M,Mondy,Michael,"Mondy, Michael"

In [20]:
merg_left=pd.read_sql("SELECT * FROM 'INCIDENTS' LEFT JOIN  'OFFICERS' ON INCIDENTS.case_number=OFFICERS.case_number",conn)

In [21]:
merg_left.head()

,case_number,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,...,summary_url,summary_text,latitude,longitude,case_number,race,gender,last_name,first_name,full_name
0,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,44523A,L,M,Patino,Michael,"Patino, Michael"
1,44523A,2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,...,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,44523A,W,M,Fillingim,Brian,"Fillingim, Brian"
2,121982X,2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,...,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, May 3, 2010, at approximately 8:06 ...",NaN,NaN,121982X,L,M,Padilla,Gilbert,"Padilla, Gilbert"
3,605484T,2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,...,http://dallaspolice.net/reports/OIS/narrative/...,"On Sunday, August 12, 2007, at approximately 2...",NaN,NaN,605484T,W,M,Poston,Jerry,"Poston, Jerry"
4,384832T,2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,...,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, May 26, 2007, at approximately 1:...",NaN,NaN,384832T,B,M,Mondy,Michael,"Mondy, Michael"

In [22]:
merg_left.set_index('case_number',inplace=True)

In [23]:
merg_left.head()

,date,location,subject_statuses,subject_weapon,subjects,subject_count,officers,officer_count,grand_jury_disposition,attorney_general_forms_url,summary_url,summary_text,latitude,longitude,race,gender,last_name,first_name,full_name
case_number,,,,,,,,,,,,,,,,,,,
"(44523A, 44523A)",2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,L,M,Patino,Michael,"Patino, Michael"
"(44523A, 44523A)",2013-02-23,3000 Chihuahua Street,Injured,Handgun,"Curry, James L/M",1,"Patino, Michael L/M; Fillingim, Brian W/M",2,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, February 23, 2013, at approximate...",NaN,NaN,W,M,Fillingim,Brian,"Fillingim, Brian"
"(121982X, 121982X)",2010-05-03,1300 N. Munger Boulevard,Injured,Handgun,"Chavez, Gabriel L/M",1,"Padilla, Gilbert L/M",1,No Bill,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Monday, May 3, 2010, at approximately 8:06 ...",NaN,NaN,L,M,Padilla,Gilbert,"Padilla, Gilbert"
"(605484T, 605484T)",2007-08-12,200 S. Stemmons Freeway,Other,Shotgun,"Salinas, Nick L/M",1,"Poston, Jerry W/M",1,See Summary,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Sunday, August 12, 2007, at approximately 2...",NaN,NaN,W,M,Poston,Jerry,"Poston, Jerry"
"(384832T, 384832T)",2007-05-26,7900 S. Loop 12,Shoot and Miss,Unarmed,"Smith, James B/M; Dews, Antonio B/M; Spearman,...",3,"Mondy, Michael B/M",1,None,None,http://dallaspolice.net/reports/OIS/narrative/...,"On Saturday, May 26, 2007, at approximately 1:...",NaN,NaN,B,M,Mondy,Michael,"Mondy, Michael"